<header class="header"> 
  <nav class="nav">
    <a routerLink="/online">Jugar Online</a>
    <a routerLink="/missions">Misiones</a>
    <a routerLink="/auctions">Subastas</a>
    <a routerLink="/tournament">Torneo</a>
    <a routerLink="/inventory">Mi Inventario</a>
    <div class="mi-cuenta-container">
      <a routerLink="/account" class="mi-cuenta-link" (click)="toggleCuenta()">Mi cuenta</a>
    </div>
  </nav>
</header>

<main class="main">

  <div *ngIf="mostrarCuenta" class="mi-cuenta-placeholder">
    <p><strong>MI CUENTA</strong></p>
    <p><strong>Jugador:</strong> {{ jugadorNombre }}</p>
    <p><strong>Tokens:</strong> {{ cantidadTokens }}</p>
  </div>

  <div class="right">
    <div class="character-placeholder">
      <span>Imagen del personaje</span>
    </div>
  </div>
</main>



