.hero-form {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
}

.hero-form h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 50px;
}


.form-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 30px 40px;
}

.form-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

label {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 6px;
  text-align: center;
}

input,
textarea,
select {
  padding: 14px 18px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.12);
  font-weight: bold;
  color: #444;
  width: 100%;
  max-width: 350px;
}

::placeholder {
  color: #888;
  font-weight: normal;
  font-size: 17px;
}

.row {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.button {
  grid-column: span 2; 
  margin-top: 30px;
  width: 100%;
  padding: 16px 20px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  background: #4cff4c;
  cursor: pointer;
  transition: background-color .3s;
}

.button:hover {
  background: #3acc3a;
}