<div class="armor-list">
  <div class="options-list">
    <h2>Lista de Armas</h2>
    <button (click)="addWeapon()" class="btn-agregar">Agregar Arma</button>
  </div>

  <div class="items-grid">
    <div
      class="armor-card"
      *ngFor="let armor of getPaginatedArmors(selectedSlot)"
      (click)="openModal(armor)"
    >
      <img *ngIf="armor.image" [src]="armor.image" alt="{{ armor.name }}" class="armor-image" />
      <p class="item-name">{{ armor.name }}</p>
    </div>
  </div>

  <!-- Controles de paginación -->
  <div class="pagination-controls">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
    <span>Página {{ currentPage }} de {{ getTotalPages(selectedSlot) }}</span>
    <button (click)="nextPage(selectedSlot)" [disabled]="currentPage === getTotalPages(selectedSlot)">Siguiente</button>
  </div>
</div>

<!-- Modal de armadura -->
<div class="modal" *ngIf="selectedArmor">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>{{ selectedArmor.name }}</h2>
    <img *ngIf="selectedArmor.image" [src]="selectedArmor.image" class="modal-image" />
    <p><strong>Descripción:</strong> {{ selectedArmor.description }}</p>
    <p><strong>Estado:</strong> {{ selectedArmor.status ? 'Activo' : 'Inactivo' }}</p>
    <p><strong>Tipo de Heroe:</strong> {{ selectedArmor.heroType }}</p>
    <p><strong>Drop Rate:</strong> {{ selectedArmor.dropRate }}%</p>
    <p><strong>Stock:</strong> {{ selectedArmor.stock }}</p>

    <div *ngIf="selectedArmor.effects?.length">
      <p><span class="variable">Efectos:</span></p>
      <div *ngFor="let effect of selectedArmor.effects" class="item-effects">
        <p>
          Tipo: {{ effect.effectType }},
          Valor: {{ effect.value }},
          Duración: {{ effect.durationTurns }} turnos
        </p>
      </div>
    </div>

    <div class="item-actions">
      <button (click)="changeStatus(selectedArmor.id)">
        {{ selectedArmor.status ? 'Desactivar' : 'Activar' }}
      </button>
      <button (click)="modifyWeapon(selectedArmor.id)">Modificar</button>
    </div>
  </div>
</div>
