<div class="weapon-list">
  <h2>Lista de Armas</h2>

    <button (click)="addWeapon()" class="btn-agregar">Agregar Arma</button>

  <div *ngFor="let weapon of weapon" class="weapon-card">
    <img
      *ngIf="weapon.image"
      [src]="weapon.image"
      alt="{{ weapon.name }}"
      class="weapon-image"
    />

    <div class="weapon-info">
      <p><span class="variable">Nombre:</span> {{ weapon.name }}</p>
      <p><span class="variable">Descripción:</span> {{ weapon.description }}</p>
      <p><span class="variable">Estado:</span> {{ weapon.status ? 'Activo' : 'Inactivo' }}</p>
      <p><span class="variable">DropRate:</span> {{ weapon.dropRate }}</p>

      <div *ngIf="weapon.effects?.length">
        <p><span class="variable">Efectos:</span></p>
        <div *ngFor="let effect of weapon.effects" class="weapon-effect">
          <p>
            Tipo: {{ effect.effectType }},
            Valor: {{ effect.value }},
            Duración: {{ effect.durationTurns }} turnos
          </p>
        </div>
      </div>

      <div class="weapon-actions">
        <button (click)="changeStatus(weapon.id)">
          {{ weapon.status ? 'Desactivar' : 'Activar' }}
        </button>
        <button (click)="modifyWeapon(weapon.id)">Modificar</button>
      </div>
    </div>
  </div>
</div>
