h2 {
    display: flex;
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 5px;
}

.hero-image {
  width: 100%;
  max-width: 450px;
  height: auto;
  object-fit: cover;
}

/* Botón agregar héroe */
.btn-agregar {
    display: block;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 15px;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to right, #36724a, #1e4b28);
    border: black 1px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
}

.btn-agregar:hover {
    background: #3ea053;

}

.btn-agregar:active {
    transform: scale(0.95);
}