<div class="gestion-heroes">
  <h2>Gestión de Héroes</h2>

  <button (click)="addHero()" class="btn-agregar">Agregar Héroe</button>

  <div class="cards-container">
    <div class="hero-card" *ngFor="let hero of heros">
      <img [src]="hero.image" alt="{{ hero.name }}" class="hero-image" />

      <div class="hero-info">
        <p><span class="variable">Nombre:</span> {{ hero.name }}</p>
        <p><span class="variable">Tipo:</span> {{ hero.heroType }}</p>
        <p><span class="variable">Nivel:</span> {{ hero.level }}</p>
        <p><span class="variable">Poder:</span> {{ hero.power }}</p>
        <p><span class="variable">Salud:</span> {{ hero.health }}</p>
        <p><span class="variable">Defensa:</span> {{ hero.defense }}</p>
        <p><span class="variable">Stock:</span> {{ hero.stock }}</p>
        <p>
          <span class="variable" [ngClass]="{ activo: hero.status, inactivo: !hero.status }">
            Status:
          </span> {{ hero.status ? "Activo" : "Inactivo" }}
        </p>
        <p><span class="variable">Ataque:</span> {{ hero.attack }}</p>
        <div class="hero-effects">
          <p>Ataque Max: {{ hero.attackBoost.max }}</p>
          <p>Ataque Min: {{ hero.attackBoost.min }}</p>
        </div>

        <div class="hero-actions">
          <button (click)="modifyHero(hero.id)">Modificar</button>
          <button (click)="changeStatus(hero.id)">
            {{ hero.status ? "Desactivar" : "Activar" }}
          </button>
        </div>
      </div>
    </div>
  </div>