<div class="gestion-heroes">
  <h2>Gestión de Héroes</h2>

  <button (click)="addHero()" class="btn-agregar">Agregar Héroe</button>

  <div class="cards-container">
    <div class="hero-card" *ngFor="let hero of heros">
      <img [src]="hero.image" alt="{{ hero.name }}" class="hero-image" />

      <div class="hero-info">
        <h3>{{ hero.name }}</h3>
        <p>Tipo:{{ hero.heroType }}</p>
        <p>Nivel:{{ hero.level }}</p>
        <p>Poder: {{ hero.power }}</p>
        <p>Salud: {{ hero.health }}</p>
        <p>Defensa: {{ hero.defense }}</p>
        <p>Ataque: {{ hero.attack }}</p>
        <p>Ataque Max: {{ hero.attackBoost.max }}</p>
        <p>Ataque Min: {{ hero.attackBoost.min }}</p>
        <p>
          Status:
          <span [ngClass]="{ activo: hero.status, inactivo: !hero.status }">
            {{ hero.status ? "Activo" : "Inactivo" }}
          </span>
        </p>

      <div class="hero-actions">
        <button (click)="modifyHero(hero.id)">Modificar</button>
        <button (click)="changeStatus(hero.id)">
          {{ hero.status ? "Desactivar" : "Activar" }}
        </button>
      </div>
    </div>
  </div>
</div>
