/* room-list.component.css */

/* Contenedor general */
:host {
  display: block;
  max-width: 700px;
  margin: 2rem auto;
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid #c2b97f;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  color: #1b1b1b;
}

/* Título */
h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #000;
  text-align: center;
}

/* Botón Crear Sala (el de arriba) */
button {
  background-color: #c2b97f;
  color: #000;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  padding: 0.4rem 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 1rem;
}

button:hover {
  background-color: #a99f64;
}

/* Formulario */
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.6rem 1rem;
  padding: 1rem;
  background-color: rgba(255,255,255,0.15);
  border: 1px solid #5a3e1b;
  border-radius: 8px;
  margin-bottom: 1rem;
}

form label {
  grid-column: span 2;
  font-weight: bold;
}

form input,
form select {
  grid-column: span 2;
  padding: 0.4rem;
  border: 1px solid #c2b97f;
  border-radius: 5px;
  font-size: 16px;
  font-style: bold;
}


.check-wrap {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.check-wrap input {
  display: none; 
}

.check-custom {
  width: 18px;
  height: 18px;
  border: 2px solid #555;
  border-radius: 4px; 
  margin-right: 8px;
  position: relative;
  transition: all 0.3s ease;
}

.check-wrap input:checked + .check-custom {
  background-color: #c5a253; 
  border-color:  #c5a253;
}

.check-wrap input:checked + .check-custom::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Lista de salas */
ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0 0;
}

li button {
  background: #fff;
  color: #333;
  font-size: 14px;
  padding: 6px 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

li button:hover {
  transform: scale(1.2);
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #7c6262;
  color: #fff;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
}

li span {
  font-weight: 500;
}
