<main class="main">
    <div class="izquierda">
      <div class="hero-equipado">
        <h3>Héroe Equipado</h3>
        <p><strong>Héroe: Mago de fuego</strong></p>
      </div>
      <div class="equipamientos">
        <div class="equipo-item">
          <p><strong>Arma equipada:</strong> Espada de dos manos</p>
        </div>
        <div class="equipo-item">
          <p><strong>Armadura equipada:</strong> Defensa del enfurecido</p>
        </div>
        <div class="equipo-item">
          <p><strong>Item equipado:</strong> Pociones de vida</p>
        </div>
        <div class="equipo-item">
          <p><strong>Épica equipada:</strong> Escudo del dragón</p>
        </div>
      </div>
    </div>
  
    <div class="derecha">
      <div class="items-container">
        <div class="items-cuadricula">
          <div class="item">
            <p>Ítem 1</p>
          </div>
          <div class="item">
            <p>Ítem 2</p>
          </div>
          <div class="item">
            <p>Ítem 3</p>
          </div>
          <div class="item">
            <p>Ítem 4</p>
          </div>
          <div class="item">
            <p>Ítem 5</p>
          </div>
          <div class="item">
            <p>Ítem 6</p>
          </div>
          <div class="item">
            <p>Ítem 7</p>
          </div>
          <div class="item">
            <p>Ítem 8</p>
          </div>
        </div>
  
        <div class="pagination">
            <button (click)="previousPage()">&lt; Anterior</button>
            <span>Página {{ currentPage }}</span>
            <button (click)="nextPage()">Siguiente &gt;</button>
          </div>
      </div>
    </div>
  </main>
  

  
  
  
  
  
  
  