<div class="epic-list">
  <h2>Lista de Epicas</h2>

  <div *ngFor="let epic of epic" class="epic-card">
    <img
      *ngIf="epic.image"
      [src]="epic.image"
      alt="{{ epic.name }}"
      class="epic-image"
    />

    <div class="epic-info">
      <p>Nombre: {{ epic.name }}</p>
      <p>Descripción:{{ epic.description }}</p>
      <p>Estado: {{ epic.status ? 'Activo' : 'Inactivo' }}</p>
      <p>heroType: {{ epic.heroType }}</p>
      <p>coolDown: {{ epic.cooldown }}</p>
      <p>masterChance: {{ epic.masterChance }}</p>

      <div *ngIf="epic.effects?.length">
        <p>Efectos:</p>
        <div *ngFor="let effect of epic.effects" class="epic-effect">
          <p>
            Tipo: {{ effect.effectType }},
            Valor: {{ effect.value }},
            Duración: {{ effect.durationTurns }} turnos
          </p>
        </div>
      </div>

      <div class="epic-actions">
        <button (click)="changeStatus(epic.id)">
          {{ epic.status ? 'Desactivar' : 'Activar' }}
        </button>
        <button (click)="modifyEpic(epic.id)">Modificar</button>
      </div>
    </div>
  </div>
</div>
