<div class="item-list">
  <h2>Lista de Items</h2>
  <button (click)="addItem()" class="btn-agregar">Agregar Item</button>
  <div *ngFor="let item of items" class="item-card">
    <img *ngIf="item.image" [src]="item.image" alt="{{ item.name }}" class="item-image" />
    <div class="item-info">
      <p><span class="variable">Nombre:</span> {{ item.name }}</p>
      <p><span class="variable">Tipo:</span> {{ item.heroType }}</p>
      <p><span class="variable">Descripción:</span> {{ item.description }}</p>
      <p><span class="variable">Estado:</span> {{ item.status ? "Activo" : "Inactivo" }}</p>
      <p><span class="variable">Drop Rate:</span> {{ item.dropRate }}%</p>
      <p><span class="variable">Stock:</span> {{ item.stock }}</p>

        <p><span class="variable">Efectos:</span></p>
        <div class= "item-effects" *ngIf="item.effects?.length">
        <div *ngFor="let effect of item.effects">
          <p>
            Tipo: {{ effect.effectType }}, Valor: {{ effect.value }}, Duración:
            {{ effect.durationTurns }} turnos
          </p>
        </div>
      </div>

      <div class="item-actions">
        <button (click)="changeStatus(item.id)">
          {{ item.status ? "Desactivar" : "Activar" }}
        </button>
        <button (click)="modifyItem(item.id)">Modificar</button>
      </div>

    </div>
  </div>
</div>