.btn-agregar {
    margin-right: 10px;
    margin-bottom: 15px;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #F5E6C4;
    background: #8B2E2E;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color .3s, color .3s;
}

.variable {
  font-weight: bold;
  color: #cb9557;
}

.item-effects {
  margin-top: 9px;
  padding: 12px 16px;
  background: #4F3E28;
  border-left: 5px solid #cdb88c;
  border-radius: 8px;
  font-size: 18px;
  color: #F5E6C4;
  font-style: italic;
}

.btn-agregar:hover {
    background: #D4A017;
}

.btn-agregar:active {
    transform: scale(0.95);
}

.item-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 25px;
  border-radius: 14px;
}

.item-list h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #F5E6C4;
}

.item-card {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  border: 2px solid #3e2a14;
  border-radius: 14px;
  background: #3B2A1F;
  padding: 30px;
  margin-bottom: 35px;
}

.item-image {
  width: 200px;
  height: 200px;
  background-color: #3b2713;
  border: 4px solid #cb9557;
  border-radius: 10px;
}

.item-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #f5deb3;
}

.item-info p {
  font-size: 20px;
  margin: 0;
}

.item-actions {
  margin-top: 16px;
  display: flex;
  gap: 20px;
}

.item-actions button {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background: #D4A017;
  cursor: pointer;
  transition: background-color .3s, transform .2s;
}

.item-actions button:hover {
  color: #4b2e05;
  filter: brightness(1.2);
}

.item-actions button:active {
  transform: scale(0.95);
}
