<div class="item-list">
  <h2>Lista de Items</h2>
  <div *ngFor="let item of items" class="item-card">
    <img
      *ngIf="item.image"
      [src]="item.image"
      alt="{{ item.name }}"
      class="item-image"
    />
    <div class="item-info">
      <p>Nombre: {{ item.name }}</p>
      <p>Tipo: {{ item.heroType }}</p>
      <p>Descripción: {{ item.description }}</p>
      <p>Estado: {{ item.status ? "Activo" : "Inactivo" }}</p>
      <p>Drop Rate: {{ item.dropRate }}%</p>

      <div *ngIf="item.effects?.length">
        <p>Efectos:</p>
        <div *ngFor="let effect of item.effects">
          <p>
            Tipo: {{ effect.effectType }}, Valor: {{ effect.value }}, Duración:
            {{ effect.durationTurns }} turnos
          </p>
        </div>
      </div>

      <p>
        <button (click)="changeStatus(item.id)">
          {{ item.status ? "Desactivar" : "Activar" }}
        </button>
      </p>
      <p>
        <button (click)="modifyItem(item.id)">Modificar</button>
      </p>
    </div>
  </div>
</div>
