<main class="container">
  <div class="content-box">
    <form id="edit-form" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="register-container">
        <h2>Modificar Item</h2>

        <!-- Descripción -->
        <div class="input-group">
          <label>Descripción:</label>
          <input type="text" placeholder="Descripción" [(ngModel)]="item.description" name="description" required />
        </div>

        <!-- Tipo -->
        <div class="input-group">
          <label>Tipo Heroe:</label>
          <select [(ngModel)]="item.heroType" name="heroType" required>
            <option value="" disabled selected>Seleccione un tipo</option>
            <option *ngFor="let type of heroTypes" [value]="type">
              {{ type }}
            </option>
          </select>
        </div>

        <!-- Drop Rate -->
        <div class="input-group">
          <label>Porcentaje de Caida:</label>
          <input type="number" placeholder="Drop Rate" [(ngModel)]="item.dropRate" name="dropRate" min="0" required />
        </div>

        <div class="input-group">
          <label>Stock:</label>
          <input type="number" placeholder="stock" [(ngModel)]="item.stock" name="stock" min="-1" required/>
        </div> 

        <!-- Imagen -->
        <div class="input-group">
          <label>Selecciona imagen:</label>
          <input type="file" (change)="readImage($event)" accept="image/*" />
          <!-- Mostrar preview si existe -->
          <img *ngIf="item.image" [src]="item.image" alt="Imagen del item" class="preview-img">
        </div>

        <div class="effect-group" *ngIf="item.effects && item.effects.length">
          <h3>Efecto</h3>
          <label>Tipo de efecto:</label>
          <select [(ngModel)]="item.effects[0].effectType" name="effectType" required>
            <option value="" disabled selected>Seleccione un tipo</option>
            <option *ngFor="let type of effectTypes" [value]="type">
              {{ type }}
            </option>
          </select>
          <label>valor:</label>
          <input type="number" placeholder="Valor" [(ngModel)]="item.effects[0].value" name="effectValue" />
          <label>Duración (turnos):</label>
          <input type="number" placeholder="Duración (turnos)" [(ngModel)]="item.effects[0].durationTurns"
            name="effectDuration" />
        </div>

        <button class="register-btn" type="submit">Guardar Cambios</button>
      </div>
    </form>
  </div>
</main>