<div class="login-container">
  <h2>Restablecer Contraseña</h2>

  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="password">Nueva Contraseña:</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="newPassword"
        name="newPassword"
        required
      />
    </div>

    <button type="submit">Guardar Contraseña</button>

    <p *ngIf="message" class="success-message">{{ message }}</p>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </form>
</div>
