

<div class="torneo-container">
  <h1 class="torneo-titulo"> Torneos</h1>

<div class="torneo-container">
  <!-- Botones principales -->
  <div class="torneo-botones">
    <button (click)="onInscripcion()">Inscripción</button>
    <button (click)="onParticipar()" >Participar</button>
  </div>

  <!-- Apartado de equipos -->
  <section class="equipos-section">
    <h2 class="torneo-titulo">Equipos</h2>

    <div class="equipos-cuadro">

      <div class="equipo">
        <h3>Equipo 1</h3>
        <div class="slots">
          <div class="slot"></div>
          <div class="slot"></div>
          <div class="slot"></div>
        </div>
      </div>

      <div class="equipo">
        <h3>Equipo 2</h3>
        <div class="slots">
          <div class="slot"></div>
          <div class="slot"></div>
          <div class="slot"></div>
        </div>
      </div>

      <div class="equipo">
        <h3>Equipo 3</h3>
        <div class="slots">
          <div class="slot"></div>
          <div class="slot"></div>
          <div class="slot"></div>
        </div>
      </div>

      <div class="equipo">
        <h3>Equipo 4</h3>
        <div class="slots">
          <div class="slot"></div>
          <div class="slot"></div>
          <div class="slot"></div>
        </div>
      </div>

        <div class="equipo">
        <h3>Equipo 5</h3>
        <div class="slots">
          <div class="slot"></div>
          <div class="slot"></div>
          <div class="slot"></div>
        </div>
      </div>

      <div class="equipo">
        <h3>Equipo 6</h3>
        <div class="slots">
          <div class="slot"></div>
          <div class="slot"></div>
          <div class="slot"></div>
        </div>
      </div>

      <div class="equipo">
        <h3>Equipo 7</h3>
        <div class="slots">
          <div class="slot"></div>
          <div class="slot"></div>
          <div class="slot"></div>
        </div>
      </div>

      <div class="equipo">
        <h3>Equipo 8</h3>
        <div class="slots">
          <div class="slot"></div>
          <div class="slot"></div>
          <div class="slot"></div>
        </div>
      </div>



    </div>
  </section>
</div>

</div>
