<main class="container">
  <div class="content-box">
    <form id="register-form" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="register-container">
        <h2>Registro de Armas</h2>

        <div class="input-group">
          <label>Nombre:</label>
          <input type="text" placeholder="Nombre" [(ngModel)]="weapon.name" name="name" required />
        </div>

        <div class="input-group">
          <label>Descripción:</label>
          <input type="text" placeholder="Descripción" [(ngModel)]="weapon.description" name="description" required />
        </div>

        <div class="input-group">
          <label>dropRate:</label>
          <input type="number" placeholder="Porcentaje de caida" [(ngModel)]="weapon.dropRate" name="dropRate"
            min="0" />
        </div>

        <div class="input-group">
          <label>Selecciona imagen:</label>
          <input type="file" (change)="onFileSelected($event)" accept="image/*" />
        </div>

        <div class="effect-group" *ngIf="weapon.effects && weapon.effects.length">
          <h3>Efecto</h3>
          <select [(ngModel)]="weapon.effects[0].effectType" name="effectType" required>
            <option value="" disabled selected>Seleccione un tipo</option>
            <option *ngFor="let type of effectTypes" [value]="type">
              {{ type }}
            </option>
          </select>
          <label>valor:</label>
          <input type="number" placeholder="Valor" [(ngModel)]="weapon.effects[0].value" name="effectValue" />
          <label>Duración (turnos):</label>
          <input type="number" placeholder="Duración (turnos)" [(ngModel)]="weapon.effects[0].durationTurns"
            name="effectDuration" />
        </div>

        <button class="register-btn" type="submit">Registrar Arma</button>
      </div>
    </form>
  </div>
</main>