<div class="hero-form">
  <h2>Modificar Héroe</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-wrapper">


      <div class="form-col">

        <div class="form-group">
          <label for="image">Imagen:</label>
          <input type="file" id="image" (change)="readImage($event)" />
          <div *ngIf="hero.image">
            <img [src]="hero.image" alt="Imagen del héroe" width="150" />
          </div>
        </div>

        <div class="form-group">
          <label for="heroType">Tipo de Héroe:</label>
          <select id="heroType" [(ngModel)]="hero.heroType" name="heroType" required>
            <option *ngFor="let type of heroTypes" [value]="type">
              {{ type }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="stock">Stock:</label>
          <input type="number" id="stock" [(ngModel)]="hero.stock" name="stock" min="-1" required />
        </div>

        <div class="form-group">
          <label for="power">Poder:</label>
          <input type="number" id="power" [(ngModel)]="hero.power" name="power" min="0" required />
        </div>

        <div class="form-group">
          <label for="defense">Defensa:</label>
          <input type="number" id="defense" [(ngModel)]="hero.defense" name="defense" min="0" required />
        </div>

        <div class="form-group">
          <label>Attack Boost:</label>
          <div class="row">
            <input type="number" [(ngModel)]="hero.attackBoost.min" name="attackBoostMin" placeholder="Min" required />
            <input type="number" [(ngModel)]="hero.attackBoost.max" name="attackBoostMax" placeholder="Max" required />
          </div>
        </div>

      </div>

      <!-- Columna derecha -->
      <div class="form-col">

        <div class="form-group">
          <label for="description">Descripción:</label>
          <textarea id="description" [(ngModel)]="hero.description" name="description" required></textarea>
        </div>

        <div class="form-group">
          <label for="health">Salud:</label>
          <input type="number" id="health" [(ngModel)]="hero.health" name="health" min="0" required />
        </div>

        <div class="form-group">
          <label for="attack">Ataque:</label>
          <input type="number" id="attack" [(ngModel)]="hero.attack" name="attack" min="0" required />
        </div>

        <div class="form-group">
          <label>Damage:</label>
          <div class="row">
            <input type="number" [(ngModel)]="hero.damage.min" name="damageMin" placeholder="Min" required />
            <input type="number" [(ngModel)]="hero.damage.max" name="damageMax" placeholder="Max" required />
          </div>
        </div>

      </div>

    </div>

    <button type="submit" class="submit-btn">Guardar Cambios</button>
  </form>
</div>