header {
  color: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

button.logout-button {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background: #cdb88c; /* pergamino */
  color: #2f1f0f; /* marrón hierro */
  cursor: pointer;
  transition: background-color .3s, transform .2s;
}

button.logout-button:hover {
  background: #bda76d; /* pergamino más oscuro */
  color: #4b2e05; /* marrón madera */
}

.logo {
  font-size: 20px;
  font-weight: bold;
}
