.panel-container {
  padding: 20px;
  align-items: center;
  
}

h2 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: 25px;
  color: #3E2723; 
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.card {
  background: linear-gradient(to right, #3b4e64, #356397);
  border: 1px solid #D4A017;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
  color: #D4A017;  
  background: #356397;   
}

.card button {
  background: linear-gradient(to right, #3b4e64, #356397);
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #F5E6C4;       
  width: 220px; 
  height: 30px;
  border-radius: 6px;
}

