.panel-container {
  padding: 20px;
  align-items: center;
}

h2 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: 25px;
  color: #F5E6C4; /* marrón oscuro medieval */
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.card {
  background: #8B2E2E;
  border: 1px solid #D4A017;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
  color: #D4A017;  
  background: #D4A017;   /* marrón claro */
}

.card button {
  background: #8B2E2E;   /* marrón medio */
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #F5E6C4;        /* un blanco crema */
  width: 220px; 
  height: 30px;
  border-radius: 6px;
}
