.panel-container {
  padding: 20px;
  align-items: center;
}

h2 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: 25px;
  color: #56cfe1; /* Azul brillante elegante */
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.card {
  background: linear-gradient(to right, #1f7a7a, #145252); /* Verde-azulado elegante */
  border: 1px solid #3282b8; /* Azul intermedio */
  border-radius: 8px;
  padding: 12px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.3s, background 0.3s, color 0.3s;
  color: #eaf6f6; /* Texto claro */
}

.card:hover {
  transform: scale(1.05);
  color: #1b262c; /* Oscuro para contraste */
  background: linear-gradient(to right, #56cfe1, #48bfe3); /* Azul vivo hover */
  box-shadow: 0 0 12px rgba(86, 207, 225, 0.4);
}

.card button {
  background: linear-gradient(to right, #3282b8, #0f4c75); /* Azul elegante */
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #eaf6f6; /* Texto claro */
  width: 220px; 
  height: 30px;
  border-radius: 6px;
  transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
}

.card button:hover {
  background: linear-gradient(to right, #56cfe1, #48bfe3); /* Hover más vivo */
  color: #1b262c; /* Contraste serio */
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(86, 207, 225, 0.4);
}
