<div class="armor-list">
  <h2>Lista de Armaduras</h2>

    <button (click)="addArmor()" class="btn-agregar">Agregar Armadura</button>

  <div *ngFor="let armor of armor" class="armor-card">
    <img
      *ngIf="armor.image"
      [src]="armor.image"
      alt="{{ armor.name }}"
      class="armor-image"
    />

    <div class="armor-info">
      <p><span class="variable">Nombre:</span> {{ armor.name }}</p>
      <p><span class="variable">Descripción:</span> {{ armor.description }}</p>
      <p><span class="variable">Estado:</span> {{ armor.status ? 'Activo' : 'Inactivo' }}</p>
      <p><span class="variable">dropRate:</span> {{ armor.dropRate }}</p>

      <div *ngIf="armor.effects?.length">
        <p><span class="variable">Efectos:</span></p>
        <div *ngFor="let effect of armor.effects" class="armor-effect">
          <p>
            Tipo: {{ effect.effectType }},
            Valor: {{ effect.value }},
            Duración: {{ effect.durationTurns }} turnos
          </p>
        </div>
      </div>

      <div class="armor-actions">
        <button (click)="changeStatus(armor.id)">
          {{ armor.status ? 'Desactivar' : 'Activar' }}
        </button>
        <button (click)="modifyArmor(armor.id)">Modificar</button>
      </div>
    </div>
  </div>
</div>
