<main class="container"> 
  <div class="content-box">
    <form id="edit-form" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="register-container">
        <h2>Modificar Armadura</h2>

        <div class="input-group">
          <label>Nombre:</label>
          <input
            type="text"
            placeholder="Nombre"
            [(ngModel)]="armor.name"
            name="name"
            required
          />
        </div>

        <div class="input-group">
          <label>Descripción:</label>
          <input
            type="text"
            placeholder="Descripción"
            [(ngModel)]="armor.description"
            name="description"
            required
          />
        </div>

        <div class="input-group">
          <label>ArmorType:</label>
          <select id="armorType" [(ngModel)]="armor.armorType" name="armorType" required>
            <option *ngFor="let type of armorTypes" [value]="type">
              {{ type }}
            </option>
          </select>
        </div>

        <div class="input-group">
          <label>HeroType:</label>
          <select id="heroType" [(ngModel)]="armor.heroType" name="heroType" required>
            <option *ngFor="let type of heroTypes" [value]="type">
              {{ type }}
            </option>
          </select>
        </div>

        <div class="input-group">
          <label>Stock:</label>
          <input type="number" placeholder="stock" [(ngModel)]="armor.stock" name="stock" min="-1" required />
        </div>

        <div class="input-group">
          <label>DropRate:</label>
          <input
            type="number"
            placeholder="Drop Rate"
            [(ngModel)]="armor.dropRate"
            name="dropRate"
            min="0"
            required
          />
        </div>

        <div class="input-group">
          <label>Selecciona imagen:</label>
          <input type="file" (change)="readImage($event)" accept="image/*" />
          <img *ngIf="armor.image" [src]="armor.image" alt="Imagen del item" class="preview-img">
        </div>

        <div class="effect-group" *ngIf="armor.effects?.length">
          <h3>Efectos</h3>
          <label>TIpo Efecto:</label>
          <div *ngFor="let effect of armor.effects; let i = index">
            <select [(ngModel)]="armor.effects[0].effectType" name="effectType" required>
              <option value="" disabled selected>Seleccione un tipo</option>
              <option *ngFor="let type of effectTypes" [value]="type">
                {{ type }}
              </option>
            </select>
            <label>Valor:</label>
            <input
              type="number"
              placeholder="Valor"
              [(ngModel)]="effect.value"
              [name]="'effectValue' + i"
            />
            <label>Duración (Turnos):</label>
            <input
              type="number"
              placeholder="Duración (turnos)"
              [(ngModel)]="effect.durationTurns"
              [name]="'effectDuration' + i"
            />
          </div>
        </div>

        <button class="register-btn" type="submit">Guardar Cambios</button>
      </div>
    </form>
  </div>
</main>
