<main class="container">
  <div class="content-box">
    <form id="edit-form" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="register-container">
        <h2>Modificar Arma</h2>

        <!-- Nombre -->
        <div class="input-group">
          <input type="text" placeholder="Nombre" [(ngModel)]="weapon.name" name="name" required />
        </div>

        <!-- Descripción -->
        <div class="input-group">
          <input type="text" placeholder="Descripción" [(ngModel)]="weapon.description" name="description" required />
        </div>

        <!-- Drop Rate -->
        <div class="input-group">
          <input type="number" placeholder="Drop Rate" [(ngModel)]="weapon.dropRate" name="dropRate" min="0" required />
        </div>

        <!-- Imagen -->
        <div class="input-group">
          <label>Selecciona imagen:</label>
          <input type="file" (change)="readImage($event)" accept="image/*" />
          <!-- Mostrar preview si existe -->
          <img *ngIf="weapon.image" [src]="weapon.image" alt="Imagen del item" class="preview-img">
        </div>

        <!-- Efectos -->
        <div class="effect-group" *ngIf="weapon.effects?.length">
          <h3>Efectos</h3>
          <div *ngFor="let effect of weapon.effects; let i = index">
            <select [(ngModel)]="weapon.effects[0].effectType" name="effectType" required>
              <option value="" disabled selected>Seleccione un tipo</option>
              <option *ngFor="let type of effectTypes" [value]="type">
                {{ type }}
              </option>
            </select>
            <input type="number" placeholder="Valor" [(ngModel)]="effect.value" [name]="'effectValue' + i" />
            <input type="number" placeholder="Duración (turnos)" [(ngModel)]="effect.durationTurns"
              [name]="'effectDuration' + i" />
          </div>
        </div>

        <button class="register-btn" type="submit">Guardar Cambios</button>
      </div>
    </form>
  </div>
</main>