<main class="container">
  <div class="content-box">
    <form id="edit-form" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="register-container">
        <h2>Modificar Epica</h2>


        <!-- Descripción -->
        <div class="input-group">
          <label for="description">Descripción:</label>
          <input type="text" placeholder="Descripción" [(ngModel)]="epic.description" name="description" required />
        </div>

        <div class="input-group">
          <label for="heroType">Tipo de Héroe:</label>
          <select id="heroType" [(ngModel)]="epic.heroType" name="heroType" required>
            <option *ngFor="let type of heroTypes" [value]="type">
              {{ type }}
            </option>
          </select>
        </div>

        <div class="input-group">
          <label>Stock:</label>
          <input type="number" placeholder="stock" [(ngModel)]="epic.stock" name="stock" min="-1" required />
        </div>

        <div class="input-group">
          <label for="cooldown">Cooldown:</label>
          <input type="number" placeholder="cooldown" [(ngModel)]="epic.cooldown" name="cooldown" required />
        </div>

        <div class="input-group">
          <label for="masterChance">Master Chance:</label>
          <input type="number" placeholder="masterChance" [(ngModel)]="epic.masterChance" name="masterChance"
            required />
        </div>

        <div class="input-group">
          <label>Selecciona imagen:</label>
          <input type="file" (change)="readImage($event)" accept="image/*" />
          <img *ngIf="epic.image" [src]="epic.image" alt="Imagen del item" class="preview-img">
        </div>

        <div class="effect-group" *ngIf="epic.effects?.length">
          <h3>Efectos</h3>
          <label>Tipo Efecto</label>
          <div *ngFor="let effect of epic.effects; let i = index">
            <select [(ngModel)]="epic.effects[0].effectType" name="effectType" required>
              <option value="" disabled selected>Seleccione un tipo</option>
              <option *ngFor="let type of effectTypes" [value]="type">
                {{ type }}
              </option>
            </select>
            <label>Valor:</label>
            <input type="number" placeholder="Valor" [(ngModel)]="effect.value" [name]="'effectValue' + i" />
            <label>Duración (turnos):</label>
            <input type="number" placeholder="Duración (turnos)" [(ngModel)]="effect.durationTurns"
              [name]="'effectDuration' + i" />
          </div>
        </div>

        <button class="register-btn" type="submit">Guardar Cambios</button>
      </div>
    </form>
  </div>
</main>